ipython
langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain
langchain-community
langchain-core
langchain-google-vertexai
google-cloud-aiplatform
google-cloud-storage
notebook
psycopg2
python-dotenv
trustcall
langgraph-cli[inmem]